DATABASE_URL="postgresql://neondb_owner:npg_AmgQNS3hBk7F@ep-tiny-poetry-a5baab3b-pooler.us-east-2.aws.neon.tech/neondb?uselibpqcompat=true&sslmode=require"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aG9seS1saW9uZXNzLTUzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_ihCpg8UrblBDRyMpE06iMRRsDc00ZuLREIneEroAJ1

NEXT_PUBLIC_NGROK_URL=https://i-automate.vercel.app/

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard

STRIPE_SUBSCRIPTION_PRICE_ID=prod_RlET7a6wVSJRVp
STRIPE_CLIENT_SECRET=sk_test_51QrQsBHI4dVG2k2hFEXC8Y0HDngeVdGFGRgdqdzfybCwUMUoMM94hokYPT3V5tttZSvCQCPJoh8uf4nj6c2rAsLk00OssKTC6e

NEXT_PUBLIC_HOST_URL=https://i-automate.vercel.app/
INSTAGRAM_BASE_URL=https://graph.instagram.com
# needed to be changed
INSTAGRAM_EMBEDDED_OAUTH_URL=https://www.instagram.com/oauth/authorize?enable_fb_login=0&force_authentication=1&client_id=1365833841301615&redirect_uri=https://i-automate.vercel.app//callback/instagram&response_type=code&scope=instagram_business_basic%2Cinstagram_business_manage_messages%2Cinstagram_business_manage_comments%2Cinstagram_business_content_publish%2Cinstagram_business_manage_insights
INSTAGRAM_CLIENT_ID=1365833841301615 # needed to be changed
INSTAGRAM_CLIENT_SECRET=bf77b56aac6fd599ea4d3f5d3986478e # needed to be chnged
INSTAGRAM_TOKEN_URL=https://api.instagram.com/oauth/access_token
# needed to be changed
OPEN_AI_KEY=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

VERIFY_TOKEN_WEBHOOK=48677282f5ec7a7636d793bc8086f9da
#INSTAGRAM_EMBEDDED_OAUTH_URL=https://www.instagram.com/oauth/authorize?enable_fb_login=0&force_authentication=1&client_id=1365833841301615&redirect_uri=https://cc6b-116-73-72-55.ngrok-free.app/callback/instagram&response_type=code&scope=instagram_business_basic%2Cinstagram_business_manage_messages%2Cinstagram_business_manage_comments%2Cinstagram_business_content_publish%2Cinstagram_business_manage_insights
